/*
Complimentary Color Scheme
Base	Greyed	Bold	Light	Lightest
9EA2BE	7D7F8F	333C7C	C2C6DF	CACCDF
FFF1CD	BFB8A3	A68A43	FFF5DA	FFF7E4
*/

body {
	background-color: #53689A;
}

label {
	width: 220px;
	display:inline-block;
	text-align: right;
	padding-right: 12px;
}
fieldset {
	margin: 24px;
	background-color: #ABC863;
}
.output{
	margin: 24px;
	background-color: #B03D56;
}
 input[type = "text"]{
 	
	text-align: left;
	background-color: #BFB8A3;
}
.timeInterval input[type = "text"]{
	width: 32px;
	text-align: left;
	background-color: #BFB8A3;
}

input[type = "submit"]{
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 18px;
	padding-left: 18px;
	background-color: #A68A43;
}
.clear input[type = "submit"]{
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 22px;
	padding-left: 22px;
	background-color: #A68A43;
}
span {
	color:#C70404;
	padding-left: 6px;
}
table{
	border-collapse: collapse;
	margin: auto;
	width: 100%;

}
td, th{
	border: 5px solid;
	text-align: center;
	padding: 15px;
}